<mat-sidenav-container class="nav-container">

    <mat-sidenav #sidenav class="nav-sidenav mat-elevation-z15" [opened]="opened" [mode]="mode">
        <mat-toolbar Color="primary">
            Contacts
        </mat-toolbar>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>


    </mat-sidenav>

    <div class="nav-content">
        <toolbar></toolbar>
        <router-outlet></router-outlet>
        <button type="button" mat-button (click)="sidenav.toggle()">
            Open sidenav
        </button>
    </div>

</mat-sidenav-container>
