<mat-sidenav-container [class.dark-theme]="isDarkTheme" class="nav-container" [dir]="isLtr?'ltr':'rtl'">

    <mat-sidenav #mysidenav class="nav-sidenav mat-elevation-z15" [opened]="opened" [mode]="mode">
        <mat-toolbar Color="primary">
            Contacts
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item *ngFor="let user of users$|async">
                <a matLine [routerLink]="user.id">
                    <mat-icon svgIcon="{{user.avatar}}"></mat-icon>
                    {{user.name}}
                </a>


            </mat-list-item>
        </mat-nav-list>


    </mat-sidenav>

    <div class="nav-content">
        <toolbar (toggleDir)="toggleDir()" (toggleTheme)="isDarkTheme=!isDarkTheme"
                 (toggleSideNav)="mysidenav.toggle()"></toolbar>
        <div class="router-outlet">
            <router-outlet></router-outlet>
        </div>

    </div>

</mat-sidenav-container>
